name: lint_test_deploy
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: install eslint
        run:  npm install -g eslint
      - name: lint_code
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: test_code
        run: npm run test
  deploy:
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: deploy
        run: echo "Deploying..."
